
.icon-home:before { content: '\e800'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-target:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */